ambassador:
  image: cpuguy83/docker-grand-ambassador
  container_name: ocf_export_ambassador
  volumes:
    - "/var/run/docker.sock:/var/run/docker.sock"
  command: "-name ocf_export_mysql -name ocf_export_dev"

mysql:
  build: mysql
  container_name: ocf_export_mysql
  environment:
    MYSQL_ROOT_PASSWORD:
    MYSQL_DATABASE: "h132_lmu"
    MYSQL_USER: "h132_lmu"
    MYSQL_PASSWORD: "h132_lmu"
  volumes:
   - "/home/hajaalin/GitHub/compose-ocf/dump:/dump"

dev:
  image: hajaalin/devbox
  container_name: ocf_export_dev
  environment:
    MYSQL_DATABASE: "h132_lmu"
    MYSQL_USER: "h132_lmu"
    MYSQL_PASSWORD: "h132_lmu"
  links:
   - "ambassador:mysql"
  volumes:
   - "/home/hajaalin/GitHub/compose-ocf/scripts:/scripts"
   - "/home/hajaalin/tmp/ocf_export:/output"
  volumes_from:
   - "hajaalin-data"
  command: sleep 24h
